name: Build on Pull Request

on:  
  push:
    branches: [ main ]
    paths:
      - '**.rs'
      - 'Cargo.lock'
      - 'Cargo.toml'
      - '**.dart'
  pull_request:
    branches: [ main ]
    paths:
      - '**.rs'
      - 'Cargo.lock'
      - 'Cargo.toml'
      - '**.dart'

env:
  CARGO_TERM_COLOR: always
  
jobs:
  build_server:
    name: Create server/standalone builds
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build docker image for one stage
      uses: docker/build-push-action@v4
      with:
        context: .
        target: builder
        tags:
          lofigirl:latest
  build_client:
    name: Client build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      run: cargo build -p lofigirl_client --features notify
  build_wasm_frontend:
    name: Build single platform wasm
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      run: |
        cargo install cargo-make
        cd lofigirl_web_client
        cargo make build
  build_flutter_frontend:
    name: Build flutter frontend
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - name: Build / Test
      run: |
       cd lofigirl_flutter_client
       flutter pub get
       flutter test
       flutter build web